.fighter-preview___root {
  display: flex;
  flex-direction: row;
  flex-basis: 250px;
  margin: 3rem;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scale(-1, 1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left img, .fighter-preview___right img {
  max-height: 15rem;
}

.fighter-preview___left, .fighter-preview___right {
  width: 40%;
}

.fighter-details-wrapper {
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  min-width: 10rem;
  padding: 5px;
  text-align: center;
}
